<h1>Welcome to the longest word game!</h1>
<h2>Here is your grid :</h2></br>
<%= @letters %>

<form action="/score" method="post">
  <h2>What is your longest word ?</h2>
  <input type="text" name="answer" placeholder="Type your word">
  <input type="submit" value="GO!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
